

.w-100 {
  width: 100%;
}
.justify-center {
  justify-content: center;
}
.flex-colunm {
  flex-direction: column;
}
.text-center {
  text-align: center;
}
.item-center{
  align-items: center;
}
.unstyled {
  list-style-type: none;
  /* cho the ul */
}
.padding-0 {
  padding: 0;
}
.margin-0 {
  margin: 0;
}
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}

/* responsive */
@media (min-width: 576px) {
  .d-none-sm {
    display: none;
  }
  .d-block-sm {
    display: block;
  }
  .d-flex-sm {
    display: flex;
  }
}

@media (min-width: 768px) {
  .d-none-md {
    display: none;
  }
  .d-block-md {
    display: block;
  }
  .d-flex-md {
    display: flex;
  }
}
@media (min-width: 992px) {
  .d-none-lg {
    display: none;
  }
  .d-block-lg {
    display: block;
  }
  .d-flex-lg {
    display: flex;
  }
  .flex-row-lg {
    flex-direction: row;
  }
  .flex-row-reverse-lg {
    flex-direction: row-reverse;
  }
  .text-left-lg{
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .d-none-xl {
    display: none;
  }
  .d-block-xl {
    display: block;
  }
  .d-flex-xl {
    display: flex;
  }
}
