* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --gap: 24px;
  --origin__main: #eb6d20;
  --border-radius-big: 50px;
  --text-color: #3e3e3e;
  --font-weight-main : 500px
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
img{
  width: 100%;
}

.section-distance {
  margin-top: 48px;
}
.section-distance-bar {
  margin-top: 24px;
}

/* header */
header {
  background-color: #fff9f3;
}
.header-top {
  display: flex;
  padding: 24px 0;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.header-form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #fff;
  border-radius: var(--border-radius-big);
  padding: 8px;
}
.header-filter {
  background-color: #f5f6f8;
  border-radius: var(--border-radius-big);
  padding: 8px 24px;
  display: flex;
}
.header-filter select {
  border: none;
  background-color: #f5f6f8;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  color: var(--text-color);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.header-filter select::-ms-expand {
  display: none;
}
.icon-expand-down {
  padding-top: 4px;
}
.icon-expand-down img {
  width: 16px;
  height: 16px;
}
.form-item {
  padding: 0 8px;
  display: flex;
}
.form-item input {
  border: none;
  outline: none;
  min-width: 530px;
}
.form-item input::placeholder {
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  color: #9a9a9a;
}
.form-item button {
  border: none;
  background-color: #fff;
}
.form-item button img {
  width: 24px;
  height: 24px;
}
.icon-search-header {
  /* padding-top: 5px; */
}
.btn-header {
  margin: 0px 24px;
  border-radius: var(--border-radius-big);
}
.btn-header button {
  background-color: var(--origin__main);
  border: none;
  padding: 16px 30px;
  border-radius: var(--border-radius-big);
  color: #fff;
  font-size: 16px;
  line-height: 1;
}
.header-setting {
  display: flex;
  flex-wrap: nowrap;
}
.item-setting {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.text-setting a {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-color);
}
.icon-setting {
  padding-right: 12px;
}
.icon-setting img {
  width: 24px;
  height: 24px;
}
.item-setting-bag {
  padding-left: 27px;
}

.header-main {
  padding-bottom: 28px;
}
.nav-header {
  display: flex;
  justify-content: start;
}
.nav-header li {
  list-style: none;
  padding-right: 48px;
  
}
.nav-header a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400px;
  color: var(--text-color);
  position: relative;
  padding-bottom: 12px;
}
.nav-header a::after{
  content: "";
  width : 0;
  height: 4px;
  background-color: #EB8426;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}
.nav-header a:hover::after{
  width: 50%;
  /* transform: translateX(100%); */
}
.nav-header a:hover {
  color: #eb8426;
}
.img-product-item {
  position: relative;
  max-width : 424px;
}
.title-product-item {
  position: absolute;
  top: 144px;
  left: 16px;
  bottom: 16px;
}
.title-product-item h5 {
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  font-weight: 500;
}

.products-main {
}
.item-bg-green {
  background-color: #d3fbd9;
}
.item-bg-darkorange {
  background-color: #ffe4bd;
}
.item-bg-purple {
  background-color: #d9abfd;
}
.item-bg-lightorange {
  background-color: #fdf0ab;
}
.item-product-main {
  border-radius: 5px;
  position: relative;
}
.img-first-main {
 
}
.img-product-main {
  text-align: center;
  padding: 56px 56px 0 56px;
 
}
.img-product-main img{
  
  min-height: 206px;
}
.desc-product-main {
  padding: 0 24px 24px 24px;
}
.text-color-desc {
  font-size: 12px;
  color: var(--text-color);
  font-weight: 500;
  line-height: 0.75;
  padding-bottom: 12px;
}
.list-color-products button {
  border: none;
  background-color: #eb6d20;
  width: 16px;
  height: 16px;
  border-radius: var(--border-radius-big);
  margin-right: 8px;
  margin-bottom: 24px;
}
.list-color-products button:hover {
  transform: scale(1.1);
}
.title-desc-product {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  max-width: 264px;
  max-height: 56px;
  margin-bottom: 8px;
}
.price-product {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.12;
}
.favorite-item {
  position: absolute;
  top: 16px;
  left: 255px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 9px;
  border-radius: var(--border-radius-big);
}
.favorite-item img{
   
}
.item-product-post {
  background-color: #f5f6f8;
  display: flex;
  align-items: center;
  padding: 24px;
  border-radius: 5px;
}
.content-product {
}
.title-content-product {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  padding-bottom: 12px;
}
.content-product p {
  font-size: 12px;
  font-weight: 1;
}

.products-sellers {
}
.heading-products h5 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 8px;
  color: var(--text-color);
}
.heading-products p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.12;
  color: #9a9a9a;
}
.list-products-sellers .row-croll{
  display: flex;
  gap: 24px;
}
.img-product-seller {
  padding: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.title-item-seller {
  margin-top: 24px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.12;
}
.products-discover {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading-product-discover{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading-product-discover h5 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
  color: var(--text-color);
}
.item-more-see{
  display: flex;
  align-items: center;
}
.item-more-see img{
  width : 16px;
  height: 16px;
}
.item-more-see a{
  text-decoration: none;
  color: #EB8426;
}
.list-products-discover .row-croll{
  display: flex;
  gap: 24px;
}
.img-box-item{
  text-align: center;
  
}
.img-box-item img{
  width: 184px;
  height: 184px;

}
.box-item-discover{
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}
.desc-box-item{
  padding: 16px 12px 16px 10px;
}
.desc-box-item h5{
  margin-bottom: 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  min-height: 32px;
}
.category-product-discover{
  border-bottom: 1px solid #E9E9E9;
  padding-bottom: 32px;
}
.category-product-discover h5{
  margin-top: 48px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}

/* main */

/* footer */
